nav {
    width:100%;
    padding: 1rem;
    top: 0;
    border-radius: 10px;
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-around;
    background-color: black;  
    position:absolute;
  background-color: black;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        &:hover {
            background: rgb(218, 218, 218);
        }
    }
}